In [1]:

!pip install geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
Collecting ratelim (from geocoder)
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Collecting future (from geocoder)
  Downloading https://files.pythonhosted.org/packages/45/0b/38b06fd9b92dc2b68d58b75f900e97884c45bedd2ff83203d933cf5851c9/future-0.18.2.tar.gz (829kB)
Requirement already satisfied: six in c:\users\hp\anaconda3\lib\site-packages (from geocoder) (1.11.0)
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (from geocoder) (2.19.1)
Requirement already satisfied: click in c:\users\hp\anaconda3\lib\site-packages (from geocoder) (6.7)
Requirement already satisfied: decorator in c:\users\hp\anaconda3\lib\site-packages (from ratelim->geocoder) (4.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests->geocoder) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\hp\anaconda3\lib\site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: idna<2.8,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests->geocoder) (2.7)
Requirement already satisfied: urllib3<1.24,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests->geocoder) (1.23)
Building wheels for collected packages: future
  Running setup.py bdist_wheel for future: started
  Running setup.py bdist_wheel for future: finished with status 'done'
  Stored in directory: C:\Users\hp\AppData\Local\pip\Cache\wheels\8b\99\a0\81daf51dcd359a9377b110a8a886b3895921802d2fc1b2397e
Successfully built future
Installing collected packages: ratelim, future, geocoder
Successfully installed future-0.18.2 geocoder-1.38.1 ratelim-0.1.6

twisted 18.7.0 requires PyHamcrest>=1.9.0, which is not installed.
You are using pip version 10.0.1, however version 21.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
import numpy as np
import geocoder
print("Imported!")

Imported!

In [3]:
df = pd.read_csv('toronto.csv')
df.head()

  Postalcode           Borough                            Neighborhood
0    M1A\r\n  Not assigned\r\n                        Not assigned\r\n
1    M1B\r\n   Scarborough\r\n                          Malvern, Rouge
2    M1C\r\n   Scarborough\r\n  Rouge Hill, Port Union, Highland Creek
3    M1E\r\n   Scarborough\r\n       Guildwood, Morningside, West Hill
4    M1G\r\n   Scarborough\r\n                                  Woburn

In [4]:
print(df.shape)
df.describe()

(180, 3)

       Postalcode           Borough      Neighborhood
count         180               180               180
unique        180                11               100
top       M1W\r\n  Not assigned\r\n  Not assigned\r\n
freq            1                77                77

In [5]:
def get_latilong(postal_code):
    lati_long_coords = None
    while(lati_long_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lati_long_coords = g.latlng
    return lati_long_coords
    
get_latilong('M4G')

[43.709020000000066, -79.36348999999996]

In [6]:
# Retrieving Postal Code Co-ordinates
postal_codes = df['Postalcode']    
coords = [ get_latilong(postal_code) for postal_code in postal_codes.tolist() ]

In [7]:
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_coords['Latitude']
df['Longitude'] = df_coords['Longitude']

In [8]:
df[df.Postalcode == 'M5G']

Empty DataFrame
Columns: [Postalcode, Borough, Neighborhood, Latitude, Longitude]
Index: []

In [9]:
df.head(15)

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M1A\r\n,Not assigned\r\n,Not assigned\r\n,43.64869,-79.38544
1,M1B\r\n,Scarborough\r\n,"Malvern, Rouge",43.81139,-79.19662
2,M1C\r\n,Scarborough\r\n,"Rouge Hill, Port Union, Highland Creek",43.78574,-79.15875
3,M1E\r\n,Scarborough\r\n,"Guildwood, Morningside, West Hill",43.76575,-79.17470
4,M1G\r\n,Scarborough\r\n,Woburn,43.76812,-79.21761
5,M1H\r\n,Scarborough\r\n,Cedarbrae,43.76944,-79.23892
6,M1J\r\n,Scarborough\r\n,Scarborough Village,43.74446,-79.23117
7,M1K\r\n,Scarborough\r\n,"Kennedy Park, Ionview, East Birchmount Park",43.72582,-79.26461
8,M1L\r\n,Scarborough\r\n,"Golden Mile, Clairlea, Oakridge",43.71289,-79.28506
9,M1M\r\n,Scarborough\r\n,"Cliffside, Cliffcrest, Scarborough Village West",43.72360,-79.23496
10,M1N\r\n,Scarborough\r\n,"Birch Cliff, Cliffside West",43.69510,-79.26466
11,M1P\r\n,Scarborough\r\n,"Dorset Park, Wexford Heights, Scarborough Town...",43.75998,-79.26940
12,M1R\r\n,Scarborough\r\n,"Wexford, Maryvale",43.75075,-79.30054
13,M1S\r\n,Scarborough\r\n,Agincourt,43.79452,-79.26708
14,M1T\r\n,Scarborough\r\n,"Clarks Corners, Tam O'Shanter, Sullivan",43.78491,-79.29722

In [10]:

df.to_csv('toronto_part2.csv',index=False)